.modal {
    position: relative;
    margin: 15% auto;
    max-width: 70%;
    max-height: 70%;
    background: var(--interface-modal-bg, #1C1C21);
}

.header_caption {
    width: 50%;
    float: left;
}

.header_close_button {
    width: 50%;
    float: right;
}

