.header {
    height: 100px;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.additional_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_entry {
    display: flex;
    align-items: space;
    line-height: 1;
}