.main {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}