.ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 60vh;
    scrollbar-color: #8585AD #2F2F37;
    scrollbar-width: thin;
    --scrollbar-width: thin;
    --scrollbar-width-legacy: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
}
