.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_footer {
    display: flex;
    justify-content: flex-end;
}